/*
@open-sauced/api.opensauced.pizza

 ## Swagger-UI API Documentation  This REST API can be used to create, read, update or delete data from the Open Sauced community platform. The Swagger-UI provides useful information to get started and an overview of all available resources. Each API route is clickable and has their own detailed description on how to use it. The base URL for the API is [api.opensauced.pizza](https://api.opensauced.pizza).  [comment]: # (TODO: add bearer auth information)  ## Rate limiting  Every IP address is allowed to perform 5000 requests per hour. This is measured by saving the date of the initial request and counting all requests in the next hour. When an IP address goes over the limit, HTTP status code 429 is returned. The returned HTTP headers of any API request show the current rate limit status:  header | description --- | --- `X-RateLimit-Limit` | The maximum number of requests allowed per hour `X-RateLimit-Remaining` | The number of requests remaining in the current rate limit window `X-RateLimit-Reset` | The date and time at which the current rate limit window resets in [UTC epoch seconds](https://en.wikipedia.org/wiki/Unix_time)  [comment]: # (TODO: add pagination information)  ## Common response codes  Each route shows for each method which data they expect and which they will respond when the call succeeds. The table below shows most common response codes you can receive from our endpoints.  code | condition --- | --- [`200`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200) | The [`GET`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/GET) request was handled successfully. The response provides the requested data. [`201`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201) | The [`POST`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST) request was handled successfully. The response provides the created data. [`204`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204) | The [`PATCH`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PATCH) or [`DELETE`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE) request was handled successfully. The response provides no data, generally. [`400`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400) | The server will not process the request due to something that is perceived to be a client error. Check the provided error for mote information. [`401`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401) | The request requires user authentication. Check the provided error for more information. [`403`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403) | The request was valid, but the server is refusing user access. Check the provided error for more information. [`404`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404) | The requested resource could not be found. Check the provided error for more information. [`429`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429) | The current API Key made too many requests in the last hour. Check [Rate limiting](#ratelimiting) for more information.  ## Additional links

API version: 2
Contact: hello@opensauced.pizza
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// HistogramGenerationServiceAPIService HistogramGenerationServiceAPI service
type HistogramGenerationServiceAPIService service

type ApiForksHistogramRequest struct {
	ctx               context.Context
	ApiService        *HistogramGenerationServiceAPIService
	range_            *int32
	prevDaysStartDate *int32
	width             *int32
	repo              *string
	contributor       *string
	repoIds           *string
	orderDirection    *OrderDirectionEnum
	filter            *InsightFilterFieldsEnum
	topic             *string
}

// Range in days
func (r ApiForksHistogramRequest) Range_(range_ int32) ApiForksHistogramRequest {
	r.range_ = &range_
	return r
}

// Number of days in the past to start range block
func (r ApiForksHistogramRequest) PrevDaysStartDate(prevDaysStartDate int32) ApiForksHistogramRequest {
	r.prevDaysStartDate = &prevDaysStartDate
	return r
}

// Day width of histogram buckets
func (r ApiForksHistogramRequest) Width(width int32) ApiForksHistogramRequest {
	r.width = &width
	return r
}

// Repo name
func (r ApiForksHistogramRequest) Repo(repo string) ApiForksHistogramRequest {
	r.repo = &repo
	return r
}

func (r ApiForksHistogramRequest) Contributor(contributor string) ApiForksHistogramRequest {
	r.contributor = &contributor
	return r
}

func (r ApiForksHistogramRequest) RepoIds(repoIds string) ApiForksHistogramRequest {
	r.repoIds = &repoIds
	return r
}

func (r ApiForksHistogramRequest) OrderDirection(orderDirection OrderDirectionEnum) ApiForksHistogramRequest {
	r.orderDirection = &orderDirection
	return r
}

func (r ApiForksHistogramRequest) Filter(filter InsightFilterFieldsEnum) ApiForksHistogramRequest {
	r.filter = &filter
	return r
}

func (r ApiForksHistogramRequest) Topic(topic string) ApiForksHistogramRequest {
	r.topic = &topic
	return r
}

func (r ApiForksHistogramRequest) Execute() ([]DbPushGitHubEventsHistogram, *http.Response, error) {
	return r.ApiService.ForksHistogramExecute(r)
}

/*
ForksHistogram Generates a forks histogram based on 1 day time buckets

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiForksHistogramRequest
*/
func (a *HistogramGenerationServiceAPIService) ForksHistogram(ctx context.Context) ApiForksHistogramRequest {
	return ApiForksHistogramRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []DbPushGitHubEventsHistogram
func (a *HistogramGenerationServiceAPIService) ForksHistogramExecute(r ApiForksHistogramRequest) ([]DbPushGitHubEventsHistogram, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DbPushGitHubEventsHistogram
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistogramGenerationServiceAPIService.ForksHistogram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/histogram/forks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "")
	}
	if r.prevDaysStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev_days_start_date", r.prevDaysStartDate, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "")
	}
	if r.contributor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contributor", r.contributor, "")
	}
	if r.repoIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repoIds", r.repoIds, "")
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderDirection", r.orderDirection, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.topic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIssueCommentsHistogramRequest struct {
	ctx               context.Context
	ApiService        *HistogramGenerationServiceAPIService
	range_            *int32
	prevDaysStartDate *int32
	width             *int32
	repo              *string
	contributor       *string
	repoIds           *string
	orderDirection    *OrderDirectionEnum
	filter            *InsightFilterFieldsEnum
	topic             *string
}

// Range in days
func (r ApiIssueCommentsHistogramRequest) Range_(range_ int32) ApiIssueCommentsHistogramRequest {
	r.range_ = &range_
	return r
}

// Number of days in the past to start range block
func (r ApiIssueCommentsHistogramRequest) PrevDaysStartDate(prevDaysStartDate int32) ApiIssueCommentsHistogramRequest {
	r.prevDaysStartDate = &prevDaysStartDate
	return r
}

// Day width of histogram buckets
func (r ApiIssueCommentsHistogramRequest) Width(width int32) ApiIssueCommentsHistogramRequest {
	r.width = &width
	return r
}

// Repo name
func (r ApiIssueCommentsHistogramRequest) Repo(repo string) ApiIssueCommentsHistogramRequest {
	r.repo = &repo
	return r
}

func (r ApiIssueCommentsHistogramRequest) Contributor(contributor string) ApiIssueCommentsHistogramRequest {
	r.contributor = &contributor
	return r
}

func (r ApiIssueCommentsHistogramRequest) RepoIds(repoIds string) ApiIssueCommentsHistogramRequest {
	r.repoIds = &repoIds
	return r
}

func (r ApiIssueCommentsHistogramRequest) OrderDirection(orderDirection OrderDirectionEnum) ApiIssueCommentsHistogramRequest {
	r.orderDirection = &orderDirection
	return r
}

func (r ApiIssueCommentsHistogramRequest) Filter(filter InsightFilterFieldsEnum) ApiIssueCommentsHistogramRequest {
	r.filter = &filter
	return r
}

func (r ApiIssueCommentsHistogramRequest) Topic(topic string) ApiIssueCommentsHistogramRequest {
	r.topic = &topic
	return r
}

func (r ApiIssueCommentsHistogramRequest) Execute() ([]DbPushGitHubEventsHistogram, *http.Response, error) {
	return r.ApiService.IssueCommentsHistogramExecute(r)
}

/*
IssueCommentsHistogram Generates a issue comments created histogram based on 1 day time buckets

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiIssueCommentsHistogramRequest
*/
func (a *HistogramGenerationServiceAPIService) IssueCommentsHistogram(ctx context.Context) ApiIssueCommentsHistogramRequest {
	return ApiIssueCommentsHistogramRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []DbPushGitHubEventsHistogram
func (a *HistogramGenerationServiceAPIService) IssueCommentsHistogramExecute(r ApiIssueCommentsHistogramRequest) ([]DbPushGitHubEventsHistogram, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DbPushGitHubEventsHistogram
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistogramGenerationServiceAPIService.IssueCommentsHistogram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/histogram/issue-comments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "")
	}
	if r.prevDaysStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev_days_start_date", r.prevDaysStartDate, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "")
	}
	if r.contributor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contributor", r.contributor, "")
	}
	if r.repoIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repoIds", r.repoIds, "")
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderDirection", r.orderDirection, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.topic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIssuesHistogramRequest struct {
	ctx               context.Context
	ApiService        *HistogramGenerationServiceAPIService
	range_            *int32
	prevDaysStartDate *int32
	width             *int32
	repo              *string
	contributor       *string
	repoIds           *string
	orderDirection    *OrderDirectionEnum
	filter            *InsightFilterFieldsEnum
	topic             *string
}

// Range in days
func (r ApiIssuesHistogramRequest) Range_(range_ int32) ApiIssuesHistogramRequest {
	r.range_ = &range_
	return r
}

// Number of days in the past to start range block
func (r ApiIssuesHistogramRequest) PrevDaysStartDate(prevDaysStartDate int32) ApiIssuesHistogramRequest {
	r.prevDaysStartDate = &prevDaysStartDate
	return r
}

// Day width of histogram buckets
func (r ApiIssuesHistogramRequest) Width(width int32) ApiIssuesHistogramRequest {
	r.width = &width
	return r
}

// Repo name
func (r ApiIssuesHistogramRequest) Repo(repo string) ApiIssuesHistogramRequest {
	r.repo = &repo
	return r
}

func (r ApiIssuesHistogramRequest) Contributor(contributor string) ApiIssuesHistogramRequest {
	r.contributor = &contributor
	return r
}

func (r ApiIssuesHistogramRequest) RepoIds(repoIds string) ApiIssuesHistogramRequest {
	r.repoIds = &repoIds
	return r
}

func (r ApiIssuesHistogramRequest) OrderDirection(orderDirection OrderDirectionEnum) ApiIssuesHistogramRequest {
	r.orderDirection = &orderDirection
	return r
}

func (r ApiIssuesHistogramRequest) Filter(filter InsightFilterFieldsEnum) ApiIssuesHistogramRequest {
	r.filter = &filter
	return r
}

func (r ApiIssuesHistogramRequest) Topic(topic string) ApiIssuesHistogramRequest {
	r.topic = &topic
	return r
}

func (r ApiIssuesHistogramRequest) Execute() ([]DbPushGitHubEventsHistogram, *http.Response, error) {
	return r.ApiService.IssuesHistogramExecute(r)
}

/*
IssuesHistogram Generates a issues created histogram based on 1 day time buckets

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiIssuesHistogramRequest
*/
func (a *HistogramGenerationServiceAPIService) IssuesHistogram(ctx context.Context) ApiIssuesHistogramRequest {
	return ApiIssuesHistogramRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []DbPushGitHubEventsHistogram
func (a *HistogramGenerationServiceAPIService) IssuesHistogramExecute(r ApiIssuesHistogramRequest) ([]DbPushGitHubEventsHistogram, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DbPushGitHubEventsHistogram
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistogramGenerationServiceAPIService.IssuesHistogram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/histogram/issues"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "")
	}
	if r.prevDaysStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev_days_start_date", r.prevDaysStartDate, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "")
	}
	if r.contributor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contributor", r.contributor, "")
	}
	if r.repoIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repoIds", r.repoIds, "")
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderDirection", r.orderDirection, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.topic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrReviewsHistogramRequest struct {
	ctx               context.Context
	ApiService        *HistogramGenerationServiceAPIService
	range_            *int32
	prevDaysStartDate *int32
	width             *int32
	repo              *string
	contributor       *string
	repoIds           *string
	orderDirection    *OrderDirectionEnum
	filter            *InsightFilterFieldsEnum
	topic             *string
}

// Range in days
func (r ApiPrReviewsHistogramRequest) Range_(range_ int32) ApiPrReviewsHistogramRequest {
	r.range_ = &range_
	return r
}

// Number of days in the past to start range block
func (r ApiPrReviewsHistogramRequest) PrevDaysStartDate(prevDaysStartDate int32) ApiPrReviewsHistogramRequest {
	r.prevDaysStartDate = &prevDaysStartDate
	return r
}

// Day width of histogram buckets
func (r ApiPrReviewsHistogramRequest) Width(width int32) ApiPrReviewsHistogramRequest {
	r.width = &width
	return r
}

// Repo name
func (r ApiPrReviewsHistogramRequest) Repo(repo string) ApiPrReviewsHistogramRequest {
	r.repo = &repo
	return r
}

func (r ApiPrReviewsHistogramRequest) Contributor(contributor string) ApiPrReviewsHistogramRequest {
	r.contributor = &contributor
	return r
}

func (r ApiPrReviewsHistogramRequest) RepoIds(repoIds string) ApiPrReviewsHistogramRequest {
	r.repoIds = &repoIds
	return r
}

func (r ApiPrReviewsHistogramRequest) OrderDirection(orderDirection OrderDirectionEnum) ApiPrReviewsHistogramRequest {
	r.orderDirection = &orderDirection
	return r
}

func (r ApiPrReviewsHistogramRequest) Filter(filter InsightFilterFieldsEnum) ApiPrReviewsHistogramRequest {
	r.filter = &filter
	return r
}

func (r ApiPrReviewsHistogramRequest) Topic(topic string) ApiPrReviewsHistogramRequest {
	r.topic = &topic
	return r
}

func (r ApiPrReviewsHistogramRequest) Execute() ([]DbPullRequestGitHubEventsHistogram, *http.Response, error) {
	return r.ApiService.PrReviewsHistogramExecute(r)
}

/*
PrReviewsHistogram Generates a request reviews histogram based on 1 day time buckets

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPrReviewsHistogramRequest
*/
func (a *HistogramGenerationServiceAPIService) PrReviewsHistogram(ctx context.Context) ApiPrReviewsHistogramRequest {
	return ApiPrReviewsHistogramRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []DbPullRequestGitHubEventsHistogram
func (a *HistogramGenerationServiceAPIService) PrReviewsHistogramExecute(r ApiPrReviewsHistogramRequest) ([]DbPullRequestGitHubEventsHistogram, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DbPullRequestGitHubEventsHistogram
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistogramGenerationServiceAPIService.PrReviewsHistogram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/histogram/pull-request-reviews"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "")
	}
	if r.prevDaysStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev_days_start_date", r.prevDaysStartDate, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "")
	}
	if r.contributor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contributor", r.contributor, "")
	}
	if r.repoIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repoIds", r.repoIds, "")
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderDirection", r.orderDirection, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.topic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrsHistogramRequest struct {
	ctx               context.Context
	ApiService        *HistogramGenerationServiceAPIService
	range_            *int32
	prevDaysStartDate *int32
	width             *int32
	repo              *string
	contributor       *string
	repoIds           *string
	orderDirection    *OrderDirectionEnum
	filter            *InsightFilterFieldsEnum
	topic             *string
}

// Range in days
func (r ApiPrsHistogramRequest) Range_(range_ int32) ApiPrsHistogramRequest {
	r.range_ = &range_
	return r
}

// Number of days in the past to start range block
func (r ApiPrsHistogramRequest) PrevDaysStartDate(prevDaysStartDate int32) ApiPrsHistogramRequest {
	r.prevDaysStartDate = &prevDaysStartDate
	return r
}

// Day width of histogram buckets
func (r ApiPrsHistogramRequest) Width(width int32) ApiPrsHistogramRequest {
	r.width = &width
	return r
}

// Repo name
func (r ApiPrsHistogramRequest) Repo(repo string) ApiPrsHistogramRequest {
	r.repo = &repo
	return r
}

func (r ApiPrsHistogramRequest) Contributor(contributor string) ApiPrsHistogramRequest {
	r.contributor = &contributor
	return r
}

func (r ApiPrsHistogramRequest) RepoIds(repoIds string) ApiPrsHistogramRequest {
	r.repoIds = &repoIds
	return r
}

func (r ApiPrsHistogramRequest) OrderDirection(orderDirection OrderDirectionEnum) ApiPrsHistogramRequest {
	r.orderDirection = &orderDirection
	return r
}

func (r ApiPrsHistogramRequest) Filter(filter InsightFilterFieldsEnum) ApiPrsHistogramRequest {
	r.filter = &filter
	return r
}

func (r ApiPrsHistogramRequest) Topic(topic string) ApiPrsHistogramRequest {
	r.topic = &topic
	return r
}

func (r ApiPrsHistogramRequest) Execute() ([]DbPullRequestGitHubEventsHistogram, *http.Response, error) {
	return r.ApiService.PrsHistogramExecute(r)
}

/*
PrsHistogram Generates a pull request created histogram based on 1 day time buckets

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPrsHistogramRequest
*/
func (a *HistogramGenerationServiceAPIService) PrsHistogram(ctx context.Context) ApiPrsHistogramRequest {
	return ApiPrsHistogramRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []DbPullRequestGitHubEventsHistogram
func (a *HistogramGenerationServiceAPIService) PrsHistogramExecute(r ApiPrsHistogramRequest) ([]DbPullRequestGitHubEventsHistogram, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DbPullRequestGitHubEventsHistogram
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistogramGenerationServiceAPIService.PrsHistogram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/histogram/pull-requests"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "")
	}
	if r.prevDaysStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev_days_start_date", r.prevDaysStartDate, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "")
	}
	if r.contributor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contributor", r.contributor, "")
	}
	if r.repoIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repoIds", r.repoIds, "")
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderDirection", r.orderDirection, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.topic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPushesHistogramRequest struct {
	ctx               context.Context
	ApiService        *HistogramGenerationServiceAPIService
	range_            *int32
	prevDaysStartDate *int32
	width             *int32
	repo              *string
	contributor       *string
	repoIds           *string
	orderDirection    *OrderDirectionEnum
	filter            *InsightFilterFieldsEnum
	topic             *string
}

// Range in days
func (r ApiPushesHistogramRequest) Range_(range_ int32) ApiPushesHistogramRequest {
	r.range_ = &range_
	return r
}

// Number of days in the past to start range block
func (r ApiPushesHistogramRequest) PrevDaysStartDate(prevDaysStartDate int32) ApiPushesHistogramRequest {
	r.prevDaysStartDate = &prevDaysStartDate
	return r
}

// Day width of histogram buckets
func (r ApiPushesHistogramRequest) Width(width int32) ApiPushesHistogramRequest {
	r.width = &width
	return r
}

// Repo name
func (r ApiPushesHistogramRequest) Repo(repo string) ApiPushesHistogramRequest {
	r.repo = &repo
	return r
}

func (r ApiPushesHistogramRequest) Contributor(contributor string) ApiPushesHistogramRequest {
	r.contributor = &contributor
	return r
}

func (r ApiPushesHistogramRequest) RepoIds(repoIds string) ApiPushesHistogramRequest {
	r.repoIds = &repoIds
	return r
}

func (r ApiPushesHistogramRequest) OrderDirection(orderDirection OrderDirectionEnum) ApiPushesHistogramRequest {
	r.orderDirection = &orderDirection
	return r
}

func (r ApiPushesHistogramRequest) Filter(filter InsightFilterFieldsEnum) ApiPushesHistogramRequest {
	r.filter = &filter
	return r
}

func (r ApiPushesHistogramRequest) Topic(topic string) ApiPushesHistogramRequest {
	r.topic = &topic
	return r
}

func (r ApiPushesHistogramRequest) Execute() ([]DbPushGitHubEventsHistogram, *http.Response, error) {
	return r.ApiService.PushesHistogramExecute(r)
}

/*
PushesHistogram Generates a pushes histogram based on 1 day time buckets

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPushesHistogramRequest
*/
func (a *HistogramGenerationServiceAPIService) PushesHistogram(ctx context.Context) ApiPushesHistogramRequest {
	return ApiPushesHistogramRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []DbPushGitHubEventsHistogram
func (a *HistogramGenerationServiceAPIService) PushesHistogramExecute(r ApiPushesHistogramRequest) ([]DbPushGitHubEventsHistogram, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DbPushGitHubEventsHistogram
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistogramGenerationServiceAPIService.PushesHistogram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/histogram/pushes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "")
	}
	if r.prevDaysStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev_days_start_date", r.prevDaysStartDate, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "")
	}
	if r.contributor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contributor", r.contributor, "")
	}
	if r.repoIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repoIds", r.repoIds, "")
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderDirection", r.orderDirection, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.topic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStarsHistogramRequest struct {
	ctx               context.Context
	ApiService        *HistogramGenerationServiceAPIService
	range_            *int32
	prevDaysStartDate *int32
	width             *int32
	repo              *string
	contributor       *string
	repoIds           *string
	orderDirection    *OrderDirectionEnum
	filter            *InsightFilterFieldsEnum
	topic             *string
}

// Range in days
func (r ApiStarsHistogramRequest) Range_(range_ int32) ApiStarsHistogramRequest {
	r.range_ = &range_
	return r
}

// Number of days in the past to start range block
func (r ApiStarsHistogramRequest) PrevDaysStartDate(prevDaysStartDate int32) ApiStarsHistogramRequest {
	r.prevDaysStartDate = &prevDaysStartDate
	return r
}

// Day width of histogram buckets
func (r ApiStarsHistogramRequest) Width(width int32) ApiStarsHistogramRequest {
	r.width = &width
	return r
}

// Repo name
func (r ApiStarsHistogramRequest) Repo(repo string) ApiStarsHistogramRequest {
	r.repo = &repo
	return r
}

func (r ApiStarsHistogramRequest) Contributor(contributor string) ApiStarsHistogramRequest {
	r.contributor = &contributor
	return r
}

func (r ApiStarsHistogramRequest) RepoIds(repoIds string) ApiStarsHistogramRequest {
	r.repoIds = &repoIds
	return r
}

func (r ApiStarsHistogramRequest) OrderDirection(orderDirection OrderDirectionEnum) ApiStarsHistogramRequest {
	r.orderDirection = &orderDirection
	return r
}

func (r ApiStarsHistogramRequest) Filter(filter InsightFilterFieldsEnum) ApiStarsHistogramRequest {
	r.filter = &filter
	return r
}

func (r ApiStarsHistogramRequest) Topic(topic string) ApiStarsHistogramRequest {
	r.topic = &topic
	return r
}

func (r ApiStarsHistogramRequest) Execute() ([]DbWatchGitHubEventsHistogram, *http.Response, error) {
	return r.ApiService.StarsHistogramExecute(r)
}

/*
StarsHistogram Generates a stars histogram based on 1 day time buckets

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiStarsHistogramRequest
*/
func (a *HistogramGenerationServiceAPIService) StarsHistogram(ctx context.Context) ApiStarsHistogramRequest {
	return ApiStarsHistogramRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []DbWatchGitHubEventsHistogram
func (a *HistogramGenerationServiceAPIService) StarsHistogramExecute(r ApiStarsHistogramRequest) ([]DbWatchGitHubEventsHistogram, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DbWatchGitHubEventsHistogram
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistogramGenerationServiceAPIService.StarsHistogram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/histogram/stars"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "")
	}
	if r.prevDaysStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev_days_start_date", r.prevDaysStartDate, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "")
	}
	if r.contributor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contributor", r.contributor, "")
	}
	if r.repoIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repoIds", r.repoIds, "")
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderDirection", r.orderDirection, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.topic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
