openapi: 3.0.0
info:
  contact:
    email: hello@opensauced.pizza
    name: Open Sauced
    url: https://opensauced.pizza
  description: |2-

    ## Swagger-UI API Documentation

    This REST API can be used to create, read, update or delete data from the Open Sauced community platform.
    The Swagger-UI provides useful information to get started and an overview of all available resources.
    Each API route is clickable and has their own detailed description on how to use it.
    The base URL for the API is [api.opensauced.pizza](https://api.opensauced.pizza).

    [comment]: # (TODO: add bearer auth information)

    ## Rate limiting

    Every IP address is allowed to perform 5000 requests per hour.
    This is measured by saving the date of the initial request and counting all requests in the next hour.
    When an IP address goes over the limit, HTTP status code 429 is returned.
    The returned HTTP headers of any API request show the current rate limit status:

    header | description
    --- | ---
    `X-RateLimit-Limit` | The maximum number of requests allowed per hour
    `X-RateLimit-Remaining` | The number of requests remaining in the current rate limit window
    `X-RateLimit-Reset` | The date and time at which the current rate limit window resets in [UTC epoch seconds](https://en.wikipedia.org/wiki/Unix_time)

    [comment]: # (TODO: add pagination information)

    ## Common response codes

    Each route shows for each method which data they expect and which they will respond when the call succeeds.
    The table below shows most common response codes you can receive from our endpoints.

    code | condition
    --- | ---
    [`200`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200) | The [`GET`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/GET) request was handled successfully. The response provides the requested data.
    [`201`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201) | The [`POST`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST) request was handled successfully. The response provides the created data.
    [`204`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204) | The [`PATCH`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PATCH) or [`DELETE`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE) request was handled successfully. The response provides no data, generally.
    [`400`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400) | The server will not process the request due to something that is perceived to be a client error. Check the provided error for mote information.
    [`401`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401) | The request requires user authentication. Check the provided error for more information.
    [`403`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403) | The request was valid, but the server is refusing user access. Check the provided error for more information.
    [`404`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404) | The requested resource could not be found. Check the provided error for more information.
    [`429`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429) | The current API Key made too many requests in the last hour. Check [Rate limiting](#ratelimiting) for more information.

    ## Additional links
  license:
    name: The MIT License
    url: https://opensource.org/licenses/mit
  termsOfService: https://github.com/open-sauced/code-of-conduct
  title: '@open-sauced/api.opensauced.pizza'
  version: "2"
servers:
- description: Production
  url: https://api.opensauced.pizza
- description: Beta
  url: https://beta.api.opensauced.pizza
- description: Alpha
  url: https://alpha.api.opensauced.pizza
paths:
  /v2/auth/session:
    get:
      operationId: checkAuthSession
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupabaseAuthDto'
          description: ""
      security:
      - bearer: []
      summary: Get authenticated session information
      tags:
      - Authentication service
  /v2/auth/onboarding:
    post:
      operationId: postOnboarding
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserOnboardingDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupabaseAuthDto'
          description: ""
        "201":
          description: ""
        "404":
          description: Unable to update onboarding information for the user
      security:
      - bearer: []
      summary: Updates onboarding information for user
      tags:
      - Authentication service
  /v2/auth/waitlist:
    post:
      operationId: postWaitlist
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupabaseAuthDto'
          description: ""
        "201":
          description: ""
        "404":
          description: Unable to update waitlist information for the user
      security:
      - bearer: []
      summary: Updates waitlist information for user
      tags:
      - Authentication service
  /v2/auth/checkout/session:
    post:
      operationId: postCreateCheckoutSession
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupabaseAuthDto'
          description: ""
        "201":
          description: ""
        "404":
          description: Unable to create checkout session
      security:
      - bearer: []
      summary: Creates a new checkout session for the user
      tags:
      - Authentication service
  /v2/auth/profile:
    delete:
      operationId: deleteUserAccount
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUser'
          description: ""
        "404":
          description: Unable to delete user account
      security:
      - bearer: []
      summary: Deletes the authenticated user's account
      tags:
      - Authentication service
    patch:
      operationId: updateProfileForUser
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUser'
          description: ""
        "404":
          description: Unable to update user profile
      security:
      - bearer: []
      summary: Updates the profile for the authenticated user
      tags:
      - Authentication service
  /v2/auth/profile/interests:
    patch:
      operationId: updateInterestsForUserProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserProfileInterestsDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUser'
          description: ""
        "404":
          description: Unable to update interests for the user profile
      security:
      - bearer: []
      summary: Updates the interests for the authenticated user profile
      tags:
      - Authentication service
  /v2/auth/profile/email:
    patch:
      operationId: updateEmailPreferencesForUserProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserEmailPreferencesDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUser'
          description: ""
        "404":
          description: Unable to update email preferences for the user profile
      security:
      - bearer: []
      summary: Updates the email preferences for the authenticated user profile
      tags:
      - Authentication service
  /v2/auth/profile/coupon:
    patch:
      operationId: applyCouponForUser
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyUserCouponDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUser'
          description: ""
        "404":
          description: Unable to apply coupon for the user profile
      security:
      - bearer: []
      summary: Applies a coupon for the authenticated user
      tags:
      - Authentication service
  /v2/users/{username}:
    get:
      operationId: findOneUserByUserame
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUser'
          description: ""
        "404":
          description: User not found
      summary: Finds a user by :username
      tags:
      - User service
  /v2/users/{username}/prs:
    get:
      operationId: findContributorPullRequestGitHubEvents
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findContributorPullRequestGitHubEvents_200_response'
          description: Successfully received model list
        "404":
          description: User not found
      summary: Finds pull requests by :username
      tags:
      - User service
  /v2/users/{username}/highlights:
    get:
      operationId: findAllHighlightsByUsername
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllHighlightsByUsername_200_response'
          description: Successfully received model list
        "404":
          description: Highlights not found
      summary: Listing all Highlights for a user and paginate them
      tags:
      - User service
  /v2/users/{username}/top-repos:
    get:
      operationId: findAllTopReposByUsername
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllTopReposByUsername_200_response'
          description: Successfully received model list
        "404":
          description: Top repos not found
      summary: Listing all Top Repos for a user and paginate them
      tags:
      - User service
  /v2/users/{username}/organizations:
    get:
      operationId: findAllOrgsByUsername
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllOrgsByUsername_200_response'
          description: Successfully received model list
        "404":
          description: Top repos not found
      summary: Listing public orgs for a user and paginate them
      tags:
      - User service
  /v2/users/top:
    get:
      operationId: getTop10Highlights
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: User ID to filter followings from the list
        explode: true
        in: query
        name: userId
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbTopUser'
          description: ""
      summary: List top users
      tags:
      - User service
  /v2/users/search:
    get:
      operationId: getUsersByFilter
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Username search query to filter from the list of users
        explode: true
        in: query
        name: username
        required: true
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbFilteredUser'
          description: ""
        "400":
          description: Username is required
      summary: Search users
      tags:
      - User service
  /v2/user/highlights:
    post:
      operationId: addHighlightForUser
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserHighlightDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmitTypeClass'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserHighlight'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to add user highlight
      security:
      - bearer: []
      summary: Adds a new highlight for the authenticated user
      tags:
      - User Highlights service
  /v2/user/highlights/{id}:
    delete:
      operationId: deleteHighlightForUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to delete user highlight
      security:
      - bearer: []
      summary: Deletes the highlight for the authenticated user
      tags:
      - User Highlights service
    get:
      operationId: getUserHighlight
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserHighlight'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to get user highlight
      summary: Retrieves a highlight
      tags:
      - User Highlights service
    patch:
      operationId: updateHighlightForUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserHighlightDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserHighlight'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to update user highlight
      security:
      - bearer: []
      summary: Updates the highlight for the authenticated user
      tags:
      - User Highlights service
  /v2/user/highlights/{id}/reactions:
    get:
      operationId: getAllHighlightUserReactions
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserHighlightReactionResponse'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to get user highlight reactions
      security:
      - bearer: []
      summary: Retrieves a highlight reactions for the authenticated user
      tags:
      - User Highlights service
  /v2/user/highlights/{id}/reactions/{emojiId}:
    delete:
      operationId: deleteHighlightReactionForUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: emojiId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to delete user highlight reaction
      security:
      - bearer: []
      summary: Deletes the highlight reaction for the authenticated user
      tags:
      - User Highlights service
    post:
      operationId: addHighlightReactionForUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: emojiId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserHighlightReaction'
          description: ""
        "201":
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Highlight does not exist
        "409":
          description: Unable to add user highlight reaction
      security:
      - bearer: []
      summary: Adds a new highlight reaction for the authenticated user
      tags:
      - User Highlights service
  /v2/user/highlights/following:
    get:
      operationId: getFollowingHighlights
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Highlight Repo Filter
        example: open-sauced/insights
        explode: true
        in: query
        name: repo
        required: false
        schema:
          type: string
        style: form
      - description: Highlight User Filter
        example: RitaDee
        explode: true
        in: query
        name: contributor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserHighlight'
          description: ""
      security:
      - bearer: []
      summary: Fetches highlights for users the authenticated user follows
      tags:
      - User Highlights service
  /v2/user/highlights/following/repos:
    get:
      operationId: getFollowingHighlightRepos
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Highlight Repo Filter
        example: open-sauced/insights
        explode: true
        in: query
        name: repo
        required: false
        schema:
          type: string
        style: form
      - description: Highlight User Filter
        example: RitaDee
        explode: true
        in: query
        name: contributor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserHighlightRepo'
          description: ""
        "400":
          description: Invalid request
      security:
      - bearer: []
      summary: Fetches highlight repos for users the authenticated user follows
      tags:
      - User Highlights service
  /v2/users/{username}/follow:
    delete:
      operationId: unfollowUserByUsername
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserToUserFollows'
          description: Returns the user follow
        "404":
          description: User not found
        "409":
          description: You are now following this user
      security:
      - bearer: []
      summary: Unfollows a user by username
      tags:
      - User service
    get:
      operationId: getFollowStatusByUsername
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserToUserFollows'
          description: ""
        "404":
          description: User follow not found
      security:
      - bearer: []
      summary: Checks if the authenticated user follows the provided username
      tags:
      - User service
    put:
      operationId: followUserById
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserToUserFollows'
          description: ""
        "404":
          description: User not found
        "409":
          description: You have already followed this user
      security:
      - bearer: []
      summary: Follows a user by username
      tags:
      - User service
  /v2/users/{username}/follows:
    put:
      operationId: followUsersByUsernames
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowManyUsersDto'
        required: true
      responses:
        "200":
          description: ""
        "404":
          description: Users not found
        "409":
          description: You have already followed this user
      security:
      - bearer: []
      summary: Follows a number of users by username
      tags:
      - User service
  /v2/user/notifications:
    get:
      operationId: getUserNotifications
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmitTypeClass'
          description: ""
        "404":
          description: Unable to get user notifications
      security:
      - bearer: []
      summary: Retrieves notifications for the authenticated user
      tags:
      - User service
  /v2/user/collaborations:
    get:
      operationId: findAllUserCollaborations
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllUserCollaborations_200_response'
          description: Successfully received model list
      security:
      - bearer: []
      summary: Listing all collaborations for the authenticated user
      tags:
      - User Collaborations service
    post:
      operationId: addUserCollaboration
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserCollaborationDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserCollaboration'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserCollaboration'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to add user collaboration
        "409":
          description: The requested user is not accepting collaboration requests
      security:
      - bearer: []
      summary: Adds a new collaboration request for the user
      tags:
      - User Collaborations service
  /v2/user/collaborations/{id}:
    delete:
      operationId: removeUserCollaborationById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to remove user collaboration
      security:
      - bearer: []
      summary: Removes the user collaboration request
      tags:
      - User Collaborations service
    patch:
      operationId: updateUserCollaboration
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserCollaborationDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserCollaboration'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to find user collaboration
      security:
      - bearer: []
      summary: Updates a user collaboration
      tags:
      - User Collaborations service
  /v2/user/endorsements/created:
    get:
      operationId: findAllUserCreatedEndorsements
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllUserCreatedEndorsements_200_response'
          description: Successfully received model list
      security:
      - bearer: []
      summary: Finds all endorsements created by the authenticated user and paginates
        them
      tags:
      - Endorsements service
  /v2/user/endorsements/received:
    get:
      operationId: findAllUserReceivedEndorsements
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllUserCreatedEndorsements_200_response'
          description: Successfully received model list
      security:
      - bearer: []
      summary: Finds all endorsements received by the authenticated user and paginates
        them
      tags:
      - Endorsements service
  /v2/user/recommendations/repos:
    get:
      operationId: findUserRepoRecommendations
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllTopReposByUsername_200_response'
          description: Successfully received model list
      security:
      - bearer: []
      summary: Listing recommended repos for the authenticated user
      tags:
      - User Recommendations service
  /v2/user/recommendations/orgs:
    get:
      operationId: findUserOrgsRepoRecommendations
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllTopReposByUsername_200_response'
          description: Successfully received model list
      security:
      - bearer: []
      summary: Listing recommended repos for the authenticated user based on their
        orgs
      tags:
      - User Recommendations service
  /v2/users/{username}/following:
    get:
      operationId: getFollowingListByUsername
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DbUserToUserFollows'
                type: array
          description: ""
        "404":
          description: User not found
      summary: Get list of following users by the provided username
      tags:
      - User service
  /v2/prs/search:
    get:
      operationId: searchAllPullRequestEvents
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/PullRequestOrderFieldsEnum'
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/InsightFilterFieldsEnum'
        style: form
      - example: javascript
        explode: true
        in: query
        name: topic
        required: false
        schema:
          type: string
        style: form
      - example: open-sauced/insights
        explode: true
        in: query
        name: repo
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: repoIds
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/PullRequestStatusEnum'
        style: form
      - example: bdougie
        explode: true
        in: query
        name: contributor
        required: false
        schema:
          type: string
        style: form
      - example: uuid-v4
        explode: true
        in: query
        name: listId
        required: false
        schema:
          type: string
        style: form
      - example: "true"
        explode: true
        in: query
        name: distinctAuthors
        required: false
        schema:
          default: "false"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findContributorPullRequestGitHubEvents_200_response'
          description: Successfully received model list
      summary: Searches pull request events using filters and paginates them
      tags:
      - Pull Requests service
  /v2/prs/description/generate:
    post:
      operationId: generatePRDescription
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePullRequestDescriptionDto'
        required: true
      responses:
        "201":
          description: ""
        "400":
          description: Invalid request
      security:
      - bearer: []
      summary: Generates a PR description based on the provided information
      tags:
      - Pull Requests service
  /v2/prs/suggestion/generate:
    post:
      operationId: generateCodeRefactor
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCodeRefactorSuggestionDto'
        required: true
      responses:
        "201":
          description: ""
        "400":
          description: Invalid request
      security:
      - bearer: []
      summary: Generates a refactor suggestion based on the provided code
      tags:
      - Pull Requests service
  /v2/prs/test/generate:
    post:
      operationId: generateCodeTest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCodeTestSuggestionDto'
        required: true
      responses:
        "201":
          description: ""
        "400":
          description: Invalid request
      security:
      - bearer: []
      summary: Generates a test for the provided code
      tags:
      - Pull Requests service
  /v2/prs/explanation/generate:
    post:
      operationId: generateCodeExplanation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCodeExplanationDto'
        required: true
      responses:
        "201":
          description: ""
        "400":
          description: Invalid request
      security:
      - bearer: []
      summary: Generates an explanation for the provided code
      tags:
      - Pull Requests service
  /v2/prs/reviews/search:
    get:
      operationId: searchAllPullRequestsReviews
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/PullRequestOrderFieldsEnum'
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/InsightFilterFieldsEnum'
        style: form
      - example: javascript
        explode: true
        in: query
        name: topic
        required: false
        schema:
          type: string
        style: form
      - example: open-sauced/insights
        explode: true
        in: query
        name: repo
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: repoIds
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/PullRequestStatusEnum'
        style: form
      - example: bdougie
        explode: true
        in: query
        name: contributor
        required: false
        schema:
          type: string
        style: form
      - example: uuid-v4
        explode: true
        in: query
        name: listId
        required: false
        schema:
          type: string
        style: form
      - example: "true"
        explode: true
        in: query
        name: distinctAuthors
        required: false
        schema:
          default: "false"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchAllPullRequestsReviews_200_response'
          description: Successfully received model list
      summary: Searches pull requests reviews using filters and paginates them
      tags:
      - Pull Requests Reviews service
  /v2/repos/{id}:
    get:
      operationId: findOneById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepo'
          description: ""
        "404":
          description: Repository not found
      summary: Finds a repo by :id
      tags:
      - Repository service
  /v2/repos/{owner}/{repo}:
    get:
      operationId: findOneByOwnerAndRepo
      parameters:
      - explode: false
        in: path
        name: owner
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: repo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepo'
          description: ""
        "404":
          description: Repository not found
      summary: Finds a repo by :owner and :repo
      tags:
      - Repository service
  /v2/repos/{owner}/{repo}/contributors:
    get:
      operationId: findContributorsByOwnerAndRepo
      parameters:
      - explode: false
        in: path
        name: owner
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: repo
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findContributorsByOwnerAndRepo_200_response'
          description: Successfully received model list
        "404":
          description: Repository not found
      summary: Finds a repo by :owner and :repo and gets the contributors
      tags:
      - Repository service
  /v2/repos/list:
    get:
      operationId: findAll
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/RepoOrderFieldsEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllTopReposByUsername_200_response'
          description: Successfully received model list
      summary: Finds all repos and paginates them
      tags:
      - Repository service
  /v2/repos/search:
    get:
      operationId: findAllReposWithFilters
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/RepoOrderFieldsEnum'
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/InsightFilterFieldsEnum'
        style: form
      - explode: true
        in: query
        name: repo
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: topic
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: repoIds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllTopReposByUsername_200_response'
          description: Successfully received model list
      summary: Finds all repos using filters and paginates them
      tags:
      - Repository service
  /v2/lists:
    get:
      operationId: getListsForUser
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserList'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to get user lists
      security:
      - bearer: []
      summary: Gets lists for the authenticated user
      tags:
      - User Lists service
    post:
      operationId: addListForUser
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserListDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserList'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserList'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to add user list
      security:
      - bearer: []
      summary: Adds a new list for the authenticated user
      tags:
      - User Lists service
  /v2/lists/featured:
    get:
      operationId: getFeaturedLists
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserList'
          description: ""
      summary: Gets public featured lists
      tags:
      - User Lists service
  /v2/lists/{id}:
    delete:
      operationId: deleteListForUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to delete user list
      security:
      - bearer: []
      summary: Deletes the list for the authenticated user
      tags:
      - User Lists service
    get:
      operationId: getUserList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserList'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to get user list
      summary: Retrieves an individual user list
      tags:
      - User Lists service
    patch:
      operationId: updateListForUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserListDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserList'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to update user list
      security:
      - bearer: []
      summary: Updates the list for the authenticated user
      tags:
      - User Lists service
  /v2/lists/contributors:
    get:
      operationId: getContributors
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - example:
        - "Denver, Colorado"
        - Germany
        explode: true
        in: query
        name: location
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - example: bdougie
        explode: true
        in: query
        name: contributor
        required: false
        schema:
          type: string
        style: form
      - example:
        - Mountain Standard Time
        - UTC
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Less than or equal to the average number of days to merge a PR
          over the last 30 days
        example: 2
        explode: true
        in: query
        name: pr_velocity
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContributors_200_response'
          description: Successfully received model list
        "400":
          description: Invalid request
        "404":
          description: Unable to get contributors
      security:
      - bearer: []
      summary: Retrieves paginated contributors
      tags:
      - User Lists service
  /v2/lists/{id}/contributors:
    get:
      operationId: getUserListContributors
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - example:
        - "Denver, Colorado"
        - Germany
        explode: true
        in: query
        name: location
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - example: bdougie
        explode: true
        in: query
        name: contributor
        required: false
        schema:
          type: string
        style: form
      - example:
        - Mountain Standard Time
        - UTC
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Less than or equal to the average number of days to merge a PR
          over the last 30 days
        example: 2
        explode: true
        in: query
        name: pr_velocity
        required: false
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserListContributors_200_response'
          description: Successfully received model list
        "400":
          description: Invalid request
        "404":
          description: Unable to get user list contributors
      summary: Retrieves contributors for an individual user list
      tags:
      - User Lists service
    post:
      operationId: postUserListContributors
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorsDto'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DbUserListContributor'
                type: array
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to add to user list contributors
      security:
      - bearer: []
      summary: Add new contributors to an individual user list
      tags:
      - User Lists service
  /v2/lists/{id}/contributors/{userListContributorId}:
    delete:
      operationId: deleteUserListContributor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userListContributorId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to delete user from user list contributors
      security:
      - bearer: []
      summary: Delete contributor from an individual user list
      tags:
      - User Lists service
  /v2/lists/{id}/contributors/highlights:
    get:
      operationId: getUserListContributorHighlights
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Highlight Repo Filter
        example: open-sauced/insights
        explode: true
        in: query
        name: repo
        required: false
        schema:
          type: string
        style: form
      - description: Highlight User Filter
        example: RitaDee
        explode: true
        in: query
        name: contributor
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllHighlightsByUsername_200_response'
          description: Successfully received model list
        "400":
          description: Invalid request
        "404":
          description: Unable to get user list contributor highlights
      summary: Retrieves highlights for contributors for an individual user list
      tags:
      - User Lists service
  /v2/lists/{id}/contributors/highlights/tagged-repos:
    get:
      operationId: getUserListContributorHighlightedRepos
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserListContributorHighlightedRepos_200_response'
          description: Successfully received model list
        "400":
          description: Invalid request
        "404":
          description: Unable to get user list contributor highlights
      summary: Retrieves highlighted repos for contributors for an individual user
        list
      tags:
      - User Lists service
  /v2/lists/timezones:
    get:
      operationId: getTimezones
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbTimezone'
          description: ""
        "404":
          description: Unable to get timezones
      summary: Retrieves all users timezones
      tags:
      - User Lists service
  /v2/lists/{id}/stats/most-active-contributors:
    get:
      operationId: getMostActiveContributorsV2
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: contributorType
        required: false
        schema:
          $ref: '#/components/schemas/UserListContributorStatsTypeEnum'
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/UserListContributorStatsOrderEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMostActiveContributorsV2_200_response'
          description: Successfully received model list
        "400":
          description: Invalid request
        "404":
          description: Unable to get list most active contributors
      summary: Gets most active contributors for a given list
      tags:
      - User Lists service
  /v2/lists/{id}/stats/contributions-evolution-by-type:
    get:
      operationId: getContributionsByTimeFrame
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - explode: true
        in: query
        name: contributorType
        required: false
        schema:
          $ref: '#/components/schemas/UserListContributorStatsTypeEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbContributionStatTimeframe'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to get contributions
      summary: Gets contributions in a given timeframe
      tags:
      - User Lists service
  /v2/lists/{id}/stats/contributions-by-project:
    get:
      operationId: getContributionsByProject
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbContributionsProjects'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to get contributions by project
      summary: Gets contributions in a given timeframe
      tags:
      - User Lists service
  /v2/lists/{id}/stats/top-project-contributions-by-contributor:
    get:
      operationId: getContributorContributionsByProject
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Repo full name
        example: open-sauced/api
        explode: true
        in: query
        name: repo_name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbUserListContributorStat'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to get contributions
      summary: Gets top 20 contributor stats in a list by a given project
      tags:
      - User Lists service
  /v2/lists/{id}/stats/contributions-evolution-by-contributor-type:
    get:
      operationId: getContributorsByTimeframe
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - explode: true
        in: query
        name: contributorType
        required: false
        schema:
          $ref: '#/components/schemas/UserListContributorStatsTypeEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbContributorCategoryTimeframe'
          description: ""
        "400":
          description: Invalid request
        "404":
          description: Unable to get contributions
      summary: Gets contributions by category within timeframe
      tags:
      - User Lists service
  /v2/health/service:
    get:
      operationId: healthStatusService
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthStatusService_200_response'
          description: The Health Check is successful
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthStatusService_503_response'
          description: The Health Check is not successful
      summary: Check the health of Open Sauced service endpoints
      tags:
      - Health check service
  /v2/health/web:
    get:
      operationId: healthStatusWeb
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthStatusService_200_response'
          description: The Health Check is successful
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthStatusService_503_response'
          description: The Health Check is not successful
      summary: Check the health of Open Sauced web endpoints
      tags:
      - Health check service
  /v2/repos/listUserVoted:
    get:
      operationId: findAllUserVoted
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/RepoOrderFieldsEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllTopReposByUsername_200_response'
          description: Successfully received model list
      security:
      - bearer: []
      summary: Finds all repos voted by authenticated user and paginates them
      tags:
      - Repository service guarded
      - Vote service
  /v2/repos/{repoId}/vote:
    get:
      operationId: findOneByRepoId
      parameters:
      - explode: false
        in: path
        name: repoId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VotedRepoDto'
          description: Returns if authenticated user has voted for it
      security:
      - bearer: []
      summary: Finds a repo by :repoId and returns if authenticated user has voted
        for it
      tags:
      - Repository service guarded
      - Vote service
  /v2/repos/{id}/vote:
    delete:
      operationId: downVoteOneById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserVotes'
          description: Returns the repo vote
        "404":
          description: Repo or vote not found
        "409":
          description: You have already removed your vote
      security:
      - bearer: []
      summary: Finds a repo by :id and removes existing vote
      tags:
      - Repository service guarded
      - Vote service
    put:
      operationId: voteOneById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserVotes'
          description: Returns the repo vote
        "404":
          description: Repo or vote not found
        "409":
          description: You have already voted for this repo
      security:
      - bearer: []
      summary: Finds a repo by :id and adds a vote
      tags:
      - Repository service guarded
      - Vote service
  /v2/repos/{owner}/{repo}/vote:
    delete:
      operationId: downVoteOneByOwnerAndRepo
      parameters:
      - explode: false
        in: path
        name: owner
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: repo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserVotes'
          description: Returns the repo vote
        "404":
          description: Repo or vote not found
        "409":
          description: You have already removed your vote
      security:
      - bearer: []
      summary: Finds a repo by :owner and :repo and removes existing vote
      tags:
      - Repository service guarded
      - Vote service
    put:
      operationId: voteOneByOwnerAndRepo
      parameters:
      - explode: false
        in: path
        name: owner
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: repo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserVotes'
          description: Returns the repo vote
        "404":
          description: Repo or vote not found
        "409":
          description: You have already voted for this repo
      security:
      - bearer: []
      summary: Finds a repo by :owner and :repo and adds a vote
      tags:
      - Repository service guarded
      - Vote service
  /v2/repos/listUserStarred:
    get:
      operationId: findAllUserStarred
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/RepoOrderFieldsEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllTopReposByUsername_200_response'
          description: Successfully received model list
      security:
      - bearer: []
      summary: Finds all repos starred by authenticated user and paginates them
      tags:
      - Repository service guarded
      - Star service
  /v2/repos/{id}/star:
    delete:
      operationId: downStarOneById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserStars'
          description: Returns the repo star
        "404":
          description: Repo or star not found
        "409":
          description: You have already removed your star
      security:
      - bearer: []
      summary: Finds a repo by :id and removes existing star
      tags:
      - Repository service guarded
      - Star service
    put:
      operationId: starOneById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserStars'
          description: Returns the repo star
        "404":
          description: Repo or star not found
        "409":
          description: You have already starred this repo
      security:
      - bearer: []
      summary: Finds a repo by :id and adds a star
      tags:
      - Repository service guarded
      - Star service
  /v2/repos/{owner}/{repo}/star:
    delete:
      operationId: downStarOneByOwnerAndRepo
      parameters:
      - explode: false
        in: path
        name: owner
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: repo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserStars'
          description: Returns the repo star
        "404":
          description: Repo or star not found
        "409":
          description: You have already removed your star
      security:
      - bearer: []
      summary: Finds a repo by :owner and :repo and removes existing star
      tags:
      - Repository service guarded
      - Star service
    put:
      operationId: starOneByOwnerAndRepo
      parameters:
      - explode: false
        in: path
        name: owner
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: repo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserStars'
          description: Returns the repo star
        "404":
          description: Repo or star not found
        "409":
          description: You have already starred this repo
      security:
      - bearer: []
      summary: Finds a repo by :owner and :repo and adds a star
      tags:
      - Repository service guarded
      - Star service
  /v2/repos/listUserStargazed:
    get:
      operationId: findAllUserStargazed
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/RepoOrderFieldsEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllTopReposByUsername_200_response'
          description: Successfully received model list
      security:
      - bearer: []
      summary: Finds all repos followed by authenticated user and paginates them
      tags:
      - Repository service guarded
      - Stargaze service
  /v2/repos/{id}/stargaze:
    delete:
      operationId: downStargazeOneById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserStargazers'
          description: Returns the repo follow
        "404":
          description: Repo or follow not found
        "409":
          description: You have already unfollowed this repo
      security:
      - bearer: []
      summary: Finds a repo by :id and unfollows
      tags:
      - Repository service guarded
      - Stargaze service
    put:
      operationId: stargazeOneById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserStargazers'
          description: Returns the repo follow
        "404":
          description: Repo or follow not found
        "409":
          description: You have already followed this repo
      security:
      - bearer: []
      summary: Finds a repo by :id and follows
      tags:
      - Repository service guarded
      - Stargaze service
  /v2/repos/{owner}/{repo}/stargaze:
    delete:
      operationId: downStargazeOneByOwnerAndRepo
      parameters:
      - explode: false
        in: path
        name: owner
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: repo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserStargazers'
          description: Returns the repo follow
        "404":
          description: Repo or stargaze not found
        "409":
          description: You have already unfollowed this repo
      security:
      - bearer: []
      summary: Finds a repo by :owner and :repo and unfollows
      tags:
      - Repository service guarded
      - Stargaze service
    put:
      operationId: stargazeOneByOwnerAndRepo
      parameters:
      - explode: false
        in: path
        name: owner
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: repo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserStargazers'
          description: Returns the repo follow
        "404":
          description: Repo or follow not found
        "409":
          description: You have already followed this repo
      security:
      - bearer: []
      summary: Finds a repo by :owner and :repo and follows
      tags:
      - Repository service guarded
      - Stargaze service
  /v2/repos/listUserSubmitted:
    get:
      operationId: findAllUserSubmitted
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: orderDirection
        required: false
        schema:
          $ref: '#/components/schemas/OrderDirectionEnum'
        style: form
      - description: Range in days
        explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Number of days in the past to start range block
        explode: true
        in: query
        name: prev_days_start_date
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/RepoOrderFieldsEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAllTopReposByUsername_200_response'
          description: Successfully received model list
      security:
      - bearer: []
      summary: Finds all repos submitted by authenticated user and paginates them
      tags:
      - Repository service guarded
      - Submit service
  /v2/repos/{id}/submit:
    delete:
      operationId: downSubmitOneById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserSubmissions'
          description: Returns the repo submission
        "404":
          description: Repo or submission not found
        "409":
          description: You have already removed your submission
      security:
      - bearer: []
      summary: Finds a repo by :id and removes existing submission
      tags:
      - Repository service guarded
      - Submit service
    put:
      operationId: submitOneById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserSubmissions'
          description: Returns the repo submission
        "404":
          description: Repo or submission not found
        "409":
          description: You have already submitted this repo
      security:
      - bearer: []
      summary: Finds a repo by :id and adds a submission
      tags:
      - Repository service guarded
      - Submit service
  /v2/repos/{owner}/{repo}/submit:
    delete:
      operationId: downSubmitOneByOwnerAndRepo
      parameters:
      - explode: false
        in: path
        name: owner
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: repo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbRepoToUserSubmissions'
          description: Returns the repo submission
        "404":
[...]
